<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zhai.PictureView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zhai.PictureView.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>ZDY ' PICTURE</value>
            </setting>
            <setting name="IsStartWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsWindowDarked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsWindowTransparency" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActivedPicturesCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoPlayInterval" serializeAs="String">
                <value>2</value>
            </setting>
        </Zhai.PictureView.Properties.Settings>
    </userSettings>
</configuration>